<html>
    <head>
        <title></title>
    </head>
    <body>

        <h1>Stylist List</h1>

            <p>
                <div class="container">

                    {% if stylists is not empty %}
                    <ul>
                        <li>All Stylists:</li>

                        {% for stylist in stylists %}
                            <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getName }}</a> |</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p>No Stylists Added!</p>
                    {% endif %}
                </div>

                <form action="/stylists" method="post">
                    <label for="name">Add a Stylist:</label>
                    <input id="name" name="name" placeholder="Gertrude" type="text" required>
                    <button class="btn-default" type="submit">Add Stylist</button>
                </form>
                <br/>
                <form action="/delete_stylists" method="post">
                    <button class="btn-danger" type="submit">Delete All</button>
                </form>
            </p>

    </body>
</html>
