<html>
    <head>
        <title>Hair Salon Lists</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>

        <div class="container">

            <h1>Stylist List</h1>

            <p class="lead">

                <h2>Update the {{ stylist.getName }} stylist</h2>

                <form action="/stylists/{{ stylist.getId }}/edit" method="post">
                    <input name="_method" type="hidden" value="patch">
                    <label for="name">Rename your Stylist:</label>
                    <input id="name" name="name" type="text" required>
                    <button class="btn-default" type="submit">Update</button>
                </form>

                <form action="/stylists/{{ stylist.getId }}" method="post">
                    <input name="_method" type="hidden" value="delete">
                    <button class="btn-danger" type="submit">Delete this Stylist</button>
                </form>

                <a href="/"><button class="btn-default">Home</button></a>
                
            </p>

        </div>
    </body>
</html>
